public/
resources/
.hugo_build.lock
.DS_Store
themes/blowfish/exampleSite/
themes/blowfish/archetypes/
echo "themes/blowfish/exampleSite/" >> .gitignore
echo "themes/blowfish/archetypes/" >> .gitignore